.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-10);
}

.bottomRow {
  display: flex;
  width: 100%;
  justify-content: end;

  .registButton {
    max-width: 170px;
  }
}

.listLayout {
  width: 100%;
  max-height: 378px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-12);
}

/////// 아이템 시작
.bootcampItem {
  width: 100%;
  border-radius: var(--radius-8);
  background-color: var(--background-tertiary-darker);
  padding: var(--spacing-16);
  gap: var(--spacing-12);
  display: flex;
  justify-content: center;
}

.noneBootcamp {
  width: 100%;
  border-radius: var(--radius-8);
  background-color: var(--background-tertiary-darker);
  padding: var(--spacing-16);
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .noneTitle {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--foreground);
  }

  .noneDescription {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--foreground-lighter);
  }
}

.icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: var(--radius-8);
  background-color: var(--color-blue-normal);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width <= 450px) {
    display: none;
  }
}

.infoLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoTopRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-8);

  .topRowLeft {
    .name {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-semibold);
      color: var(--foreground);
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .topRowRight {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: var(--spacing-8);

    .delete {
      width: fit-content;
      border: none;
      padding: 0;
      background-color: transparent;
      color: var(--color-system-error);

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.organizer {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--foreground);
  display: flex;
  height: 18px;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-5);
}

.date {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--foreground);
  display: flex;
  height: 18px;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-5);
}

.modalContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: var(--spacing-12);
  gap: var(--spacing-12);

  @media (width <= 400px) {
    width: 100%;
  }
}

.modalButtonLayout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-6);
}
