.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black-alpha-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: var(--spacing-20);
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: var(--shadow-raised);
}

.closeButton {
  position: absolute;
  top: var(--spacing-16);
  right: var(--spacing-16);
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
