.bootcampInfo {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  min-width: 400px;
}

.currentUnit {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--foreground-lighter);

  .calendarIcon {
    margin-right: var(--spacing-8);
  }
}
