.row {
  height: 56px;
  border-bottom: 1px solid var(--color-grey-light-strong);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--foreground);
  transition: all 0.3s ease;

  &:hover {
    background: var(--color-cloud-normal);
  }
}

.selected {
  background-color: var(--color-blue-light);

  &:hover {
    background: var(--color-blue-light);
  }
}

// .organization {
//   // padding: 0px var(--spacing-5);
//   text-align: center;
// }

// .duration {
//   text-align: center;
// }

// .kdt {
//   text-align: center;
// }

.kdtBadge {
  padding: var(--spacing-4) var(--spacing-10);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-6);
  background-color: #dbeafe;
  color: #1d4ed8;
  font-weight: var(--font-weight-semibold);
}

// .status {
//   text-align: center;
// }

.activeBadge {
  padding: var(--spacing-4) var(--spacing-10);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-6);
  background-color: #dcfce7;
  color: #15803d;
  font-weight: var(--font-weight-semibold);
}

.endedBadge {
  padding: var(--spacing-4) var(--spacing-10);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-6);
  background-color: #e5e7eb;
  color: #374151;
  font-weight: var(--font-weight-semibold);
}

.icon {
  width: fit-content;

  &:hover {
    opacity: 0.6;
  }
}

.delete {
  color: var(--color-system-error);
}
