.row {
  height: 56px;
  border-bottom: 1px solid #e5e7eb; // light gray
  font-size: 14px;
  color: #111827;

  &:hover {
    background: #f9fafb;
  }
}
.selected {
  background-color: #1d4ed8;
  &:hover {
    background: #1d4ed8;
  }
}

.organization {
  font-weight: 500;
}

.name {
  font-weight: 500;
}

.duration {
  text-align: center;
}

.kdt {
  text-align: center;
}

.kdtBadge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  background-color: #dbeafe; // light blue
  color: #1d4ed8; // blue
  font-weight: 600;
}

.status {
  text-align: center;
}

.activeBadge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  background-color: #dcfce7; // green bg
  color: #15803d; // green text
  font-weight: 600;
}

.endedBadge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  background-color: #e5e7eb; // gray bg
  color: #374151; // gray text
  font-weight: 600;
}

.icon {
  width: fit-content;

  &:hover {
    opacity: 0.6;
  }
}

.delete {
  color: var(--color-system-error);
}
