.container {
  width: 100%;
  margin-top: 24px;
}

.tableLayout {
  max-height: 570px;
  overflow-y: auto;
}

.tableLayout::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: var(--font-size-base);
}

.table thead th {
  text-align: left;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  padding: var(--spacing-16) var(--spacing-0) var(--spacing-16) var(--spacing-4);
  color: var(--foreground);
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  border-bottom: 2px solid var(--color-blue-light-intense);
}

.table th:nth-child(4),
.table th:nth-child(5),
.table th:nth-child(6),
.table th:nth-child(7) {
  min-width: 70px;
  width: 70px;
  text-align: center;
}

.table td:nth-child(4),
.table td:nth-child(5),
.table td:nth-child(6) {
  min-width: 70px;
  width: 70px;
  text-align: center;
}

.table td:nth-child(7),
.table td:nth-child(8) {
  min-width: 35px;
  width: 35px;
}
