.layout {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-24);

  @media (width <= 768px) {
    padding: var(--spacing-16);
  }
}
