.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-16);
}

.spinner {
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin-right: var(--spacing-8);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
