.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  line-height: var(--line-height-base);
  background-color: var(--background);
  border-radius: var(--radius-6);
  padding: var(--spacing-8) var(--spacing-16);
  gap: var(--spacing-8);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-4);
}
.title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-base);
}
.message {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
}

.success {
  border: solid 1px var(--border-primary);
}

.error {
  border: solid 1px var(--color-system-error);
}

.info {
  border: solid 1px var(--border-normal);
}
