.pageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-16);
  max-width: 1000px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-16);

  @media screen and (width <= 960px) {
    flex-direction: column;
  }
}
