.guide {
  display: flex;
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-8);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-4);
  width: 100%;

  @media (width <= 480px) {
    grid-template-columns: 1fr;
  }
}

.selected {
  border: 2px solid var(--foreground-primary);
}
