.badgeBase {
  padding: var(--spacing-4) var(--spacing-10);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-6);
  font-weight: var(--font-weight-semibold);
  display: inline-flex;
  align-items: center;
  height: 24px;
  gap: 4px;
  line-height: 1;
}

.kdt {
  background-color: var(--color-badge-kdt-bg);
  color: var(--color-badge-kdt-f);
}

.active {
  background-color: var(--color-badge-active-bg);
  color: var(--color-badge-active-f);
}

.ended {
  background-color: var(--color-badge-ended-bg);
  color: var(--color-badge-ended-f);
}
