.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-24);
  width: 100%;
}

.userInfoCard {
  width: 100%;
  max-width: 850px;
  min-width: 355px;
}

.myBootcampsCard {
  width: 100%;
  max-width: 850;
  min-width: 355px;
}
